@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    color: rgb(36, 36, 36);
    font-size: 105%;
}
body {
    font-family: 'Poppins',sans-serif;
    margin: 20px;
}

form {
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

textarea#eMails {
    width: 48%;
    height: 300px; /* 30 rows */
}

textarea#body {
    width: 100%;
    height: 225px; /* 15 rows */
}

span.error-message{
    color: red;
}

input[type="text"],input[type="password"],input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:active, a.logout:active ,a.no:active{
    background-color: #0400ff;
}

span#mailWarn{
    color: red;
}

h1.sure{
    font-size: 32px;
    text-align: center;
}

a.logout,a.no{
  background-color: #45a049;
  font-size: 16px;
  color: white;
  padding: 11px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin-left: 15%;
}
a.logout{
    float: right;
}


/* Define styles for both light and dark mode */
body.light {
    color: rgb(0, 0, 0); /* Original color for light mode */
    background-color: #fff;
}

body.dark {
    color: yellow;
    background-color: #000000;
}

/* Labels, Spans, and Paragraphs */
label, span, p , h2{
    color: inherit; /* Inherit color based on body class */
}

.dark label, .dark span, .dark p, .dark h2 { /* Specific styles for dark mode */
    color: yellow; /* Override inherited color */
}

/* Input fields and Text Areas */
.dark input[type="text"],.dark input[type="password"],.dark input[type="email"],.dark textarea {
    background-color: #292929; /* Dark gray background */
    color: rgb(255, 255, 255);
    border-color: #fff; /* White border */
}

.light input[type="text"], .light input[type="password"], 
.light input[type="email"], .light textarea { /* Reset to original styles for light mode */
    background-color: #fff;
    border-color: #ccc;
    color: rgb(0, 0, 0);
}


/* Editor */
#body {
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    min-height: 35vh;
    height: fit-content;
    width: 100%;
}
